/* For custom styles in project */


h1{
  color: #616161;
  font-family: 'MuseoSans', 'OpenSans', sans-serif;
}

body.home{
  overflow: hidden !important;

  #navbar-top {
    border: 0;

    &, &.mbgljs{
      a{
        color: #B75076;
      }
    }

    &.leaflet{
      a{
        color: #E4973F;
      }
    }

    &.ol3{
      a{
        color: #AFC75B;
      }
    }

    &.tangram{
      a{
        color: #fff;
      }
    }
  }

  #banner{
    text-align: center;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: -140px;
    pointer-events:none;

    h1, h2, h3, h4{
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
      color: #fff;
    }
  }
}

.banner-page{
  height: 180px;
  background-color: $color-primary;
  background-image: url('/img/header-bg.png');
}

.octocat{
  margin-top: -20px;
  margin-bottom: -10px;
}

.download-section-circle {
  width: 200px;
  height: 200px;
  background-size: cover;
  border: 6px solid black;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin: 0 auto;
  cursor: pointer;
}
.downloads-item{
  padding: 20px;
  margin-bottom: 5px !important;
  border: 2px solid $color-primary;;
}
.tabs-btn{
  padding: 20px 10px 10px 10px;
}
.tabs-btn.active{
  background: #F3F3F3 !important;
}