h1 {
  color: #616161;
  font-family: $font-secondary;
}

h3,
h4,
h5 {
  color: $text-color;
  font-family: $font-primary;
  font-weight: 600;
}

h3 {
  font-size: 22px;
}

#navbar-top {
  position: absolute;
  z-index: 110;

  .title {
    margin-left: 50px;
  }

  .title:before {
    content: 'o';
    font-family: 'icons';
    font-size: 40px;
    position: absolute;
    margin-left: -50px;
    vertical-align: middle;
    font-weight: normal;
  }

  .github {
    font-family: 'icons' !important;
    font-size: 36px !important;
    vertical-align: middle;
    font-weight: normal !important;
    padding-left: 10px !important;
  }

  &.filled {
    background: $color-primary;
  }

  .nav-mobile #nav-mobile-btn {
    padding-top: 10px;
  }
}

.flashes {
  top: 180px;
}

.message {
  list-style-type: none;
}

body.home {
  overflow: hidden !important;
  background: #f2f3f0;

  #navbar-top {
    background: url('/img/org-banner-bg.jpg');
    background-position: top center;
    background-repeat: repeat-x;
  }

  #banner-bg {
    position: absolute;
    top: 25%;
    left: 0;
    height: 200px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    min-width: 740px;
    right: 33%;
    @media screen and (max-width: 720px) {
      right: 0;
      min-width: auto;
      height: 175px;
    }

    &.banner-bg-bigger {
      height: 195px;
    }
  }

  #banner {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
    padding: 15px 25px;

    .container {
      padding: 0 0 0 30px;
    }

    h1,
    h2 {
      color: #616161;
      font-size: 34px;
    }

    h2 {
      font-size: 20px;
    }

    a {
      pointer-events: all;
    }
    @media screen and (max-width: 720px) {
      text-align: center;
      padding: 10px 5px;

      .container {
        padding: 0;
      }

      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }

  .foot {
    display: none;
  }
}

.shorts, .shorts-lang {
  padding-top: 10px;
  z-index: 10;

  a {
    display: inline-block;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    margin-right: 5px;
    padding: 12px 10px 12px 40px;
    background: rgba(97, 97, 97, 0.9);
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);

    &:hover {
      text-decoration: none;
      background: rgba(97, 97, 97, 0.98);
    }

    span {
      color: #fff;
      position: absolute;
      margin-left: -30px;
      margin-top: -5px;
      font-size: 22px;
    }
  }

    @media screen and (max-width: 720px) {
      a {
        font-size: 12px;
        padding: 10px 10px 10px 30px;
        margin-right: 0;

        span {
          font-size: 16px;
          margin-left: -24px;
          margin-top: -1px;
        }
      }
    }

      @media screen and (max-width: 410px) {
        a {
          padding: 10px;

          span {
            display: none;
          }
        }
      }
}

.shorts-lang {
  position: absolute;
  top: 72px;
  right: 10px;
  padding-top: 10px;
  z-index: 10;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity ease 0.5s;
  z-index: 0;
}

.map.active {
  opacity: 1;
  z-index: 5;
}

.map-switchers {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: calc((100% - 1200px)/2);

  h4 {
    color: #616161;
  }
}

.map-switch {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;
  color: $color-primary;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;

  img {
    width: 100%;
    height: 100%;

    &:hover {
      -webkit-filter: contrast(120%);
      filter: contrast(120%);
    }
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #616161;
    font-size: 14px;
    white-space: nowrap;
  }

  &:last-child span {
    color: #fff;
  }
}

.viewers.map-switchers {
  top: 210px + 10px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: initial;

  h4 {
    color: #616161;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    margin: 14px auto;
    display: block;
    width: 200px;
    padding: 10px;
  }

  .map-switch {
    background-color: rgba(255,255,255,0.8);

    &:last-child span {
      color: #616161;
    }
    height: 50px;
    font-weight: bold;

    span {
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }

  .map-switch.active {
    span {
      color: $color-primary;
    }
  }
}

.viewers.map {
  position: fixed;
  top: 210px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .map-switch {
    width: 60px;
    height: 60px;

    span {
      display: none;
    }
  }

  .viewers .map-switch {
    width: 100px;

    span {
      display: block;
    }
  }
}
@media screen and (max-width: 900px) {
  #phone {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .map-switchers {
    left: 20px;
    bottom: 20px;
  }
}

.attribution {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10000;
  font-size: 10px;
  color: #616161;
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);

  a {
    color: #616161;
  }
}
#maptiler-banner {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;

  div {
    display: inline-block;
    width: 48%;
    padding: 0;
    margin: 0;
    img {
      width: 100%;
      height: 60px;
      padding-top: 15px;
      padding-left: 5px;
    }

    h5 {
      color: $color-gray-dark;
      font-size: 16px;
      margin-top: -4px;
      margin-bottom: 0;
      padding-left: 40px;
    }

    p {
      font-size: 14px;
      line-height: 1.25;
    }
  }
}

#phone {
  position: absolute;
  right: calc((100% - 600px)/2);
  bottom: -300px;
  width: 200px;
  height: 420px;
  background: url('/img/mobile/phone.png');
  background-size: 200px 400px;
  z-index: 1000;
  cursor: pointer;
  transition: bottom 0.3s linear;

  &.open {
    bottom: -155px;
  }

  h3,
  h5 {
    color: #fff !important;
    text-align: center;

    a {
      color: #fff;
      font-size: 16px;
    }
  }

  h3 {
    padding: 50px 0 0;

    a {
      font-size: 18px;
    }
  }

  img {
    width: 120px;
    margin: 20px auto 0;
    display: block;
  }
}

.banner-com,
.banner-org {
  height: 210px;
  background-color: #95BF73;
  background-image: url('/img/org-banner-bg.jpg');
  background-position: top center;
  background-repeat: repeat-x;

  h1 {
    margin: 80px 0 0;
    font-size: 40px;
  }
}

.banner-com {
  background-color: #60748D;
  background-image: url('/img/com-banner-bg.jpg');
}
@media (max-width: 841px) {
  .banner-com h1,
  .banner-org h1 {
    font-size: 30px;
    margin-top: 85px;
  }
}

.octocat {
  margin-top: -20px;
  margin-bottom: -10px;
}

.foot {
  .container {
    border-top: 1px solid #e2e2e2;
  }

  .social a {
    color: #a9a9a9;
    vertical-align: middle;
    font-size: 19px;
  }

  .icon {
    font-size: 44px;
    line-height: 44px;
    vertical-align: middle;
    color: #a9a9a9;
    margin-top: 10px;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: lighten(#a9a9a9, 10%);
    }
  }
}

.downloads {
  .tabs-btn {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    padding: 15px 0 15px 15px;
    border: 2px solid #f1f3f4;
    border-left: none;

    &.active h2 {
      color: $color-secondary;
    }
  }

  .col4:first-child .tabs-btn {
    border-left: 2px solid #f1f3f4;
  }
}

.downloads-embed .downloads-item {
  border-left: none;
  border-right: none;
}

.download-section-circle {
  width: 60px;
  height: 60px;
  background-size: cover;
  border: 2px solid black;
  border-radius: 100px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.download-circle-label {
  font-size: 24px;
  display: inline-block;
  float: left;
  margin: 20px 0 15px 40px;
  color: #616161;
}

.downloads-search {
  padding: 5px 20px;
  margin-bottom: 5px !important;
  border: 2px solid #f1f3f4;
  font-size: 20px;
  width: 100%;
  height: 64px;
}

.downloads-item {
  padding: 15px 20px;
  margin-bottom: 5px !important;
  border: 2px solid #f1f3f4;
  height: 64px;

  &:hover {
    background-color: #f1f3f4;
    cursor: pointer;
  }

  a:first-child {
    position: absolute;
    max-width: 360px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span {
    float: right;
    margin: 0 20px;
  }
  @media (max-width: 841px) {
    a:first-child {
      max-width: 160px;
    }
  }
}



#downloads-loading {
  text-align: center;
}

#conditions-dialog-veil {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  opacity: 0.6;
}

#conditions-dialog {
  position: fixed;
  width: 650px;
  margin-left: -325px;
  top: 30%;
  left: 50%;
  background: #fff;
  padding: 30px;

  &,
  & p {
    font-size: 14px;
  }
}

#conditions-dialog-download {
  &.gray {
    &,
    & * {
      background: #eee;
      opacity: 0.6;
    }

    .btn {
      background: gray !important;
      color: #ddd !important;
    }
    pointer-events: none;
  }
}

#edit-button {
  display: inline-block;
  float: right;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

ol {
  list-style-type: decimal;
}

ol li {
  padding-bottom: 5px;
}

article ol,
article ul {
  padding-bottom: 11px;
}

.tabs-btn {
  padding: 20px 10px 10px;
  cursor: pointer;
}

.tabs-btn.active {
  background: #F3F3F3 !important;
}

.doc-section {
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(167, 168, 202, 0.13);

  h4 {
    margin-top: 0;
  }

  &:hover {
    background: rgba(167, 168, 202, 0.17);
  }
}

.map-style > img {
  height: 450px;
}

.hashLink {
  color: #eaeaea;
  padding: 0 5px;
  font-size: 0.8em;
  font-family: 'icons';

  &:hover {
    color: #c7c7c7;
    text-decoration: none;
  }
}
