/* For custom styles in project */
body.home{
  overflow: hidden !important;

  #navbar-top {
    background:transparent;

    &, &.mbgljs{
      a{
        color: #B75076;
      }
    }

    &.leaflet{
      a{
        color: #E4973F;
      }
    }

    &.ol3{
      a{
        color: #AFC75B;
      }
    }
    
    &.tangram{
      a{
        color: #fff;
      }
    }
  }

  #banner{
    text-align: center;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: -140px;
    pointer-events:none;

    h1, h2, h3, h4{
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
      color: #fff;
    }
  }
}

.banner-page{
  height: 280px;
  background-color: $color-primary;
  background-image: url('/img/header-map-2560px.png');
}

.octocat{
  margin-top: -20px;
  margin-bottom: -10px;
}
