/* Colors */
$color-primary: #36435e; //#5A8500;//#6B2B58;
$color-secondary: #fff;

$color-gray-dark: #393939;
$color-gray: #898989;
$color-gray-light: #f3f5f7;

$color-success: #00AA4A;
$color-warning: #EF8A00;
$color-danger: #EF3200;
$color-code: #dd1144;

/* Background color */
$body-bg:  #fff !default;

/* Global text color */
$text-color: $color-gray !default;

/* Links color */
$link-color: $color-primary;
$link-hover-color: lighten($color-primary, 8%);

/* Fonts */
$font-primary: 'OpenSans', sans-serif, Arial;
$font-secondary: 'OpenSans', sans-serif, Arial;
$font-monospace: Menlo, Monaco, 'Courier New', monospace;
$font-icon: Menlo, Monaco, 'Courier New', monospace;
$font-size: 14px !default;

/* Line height*/
$line-height: 1.4 !default; 
$line-height-computed: floor(($font-size * $line-height)) !default; // ~20px


/* Headings */
$headings-font-weight-h1: normal;
$headings-font-family: $font-secondary;
$headings-font-weight: normal;
$headings-line-height: 100%;
$headings-color: #424242;

$font-size-h1: 20px !default;
$font-size-h2: 30px !default;
$font-size-h3: 20px !default;
$font-size-h4: 16px !default;
$font-size-h5: $font-size !default;
$font-size-h6: 12px !default;

$code-color-bg: $color-gray-light;
$code-color: $color-gray-dark;
$code-padding: 2px 6px;

/* Padding, margin */
$padding-y: 20px;
$padding-x: 20px;

/* Container */
$container-max: 1100px;
$container-width: 100%;
$container-padding-x: 0;
$container-padding-y: 0;

/* Grid */
//screen sizes
$sc-small: 480px;
$sc-medium: 768px;
$sc-large: 992px;

$grid-sizes: (
// name: width
col1: 8.3333,
col2: 16.6666,
col3: 25.0000,
col4: 33.3333,
col5: 41.6666,
col6: 50.0000,
col7: 58.3333,
col8: 66.6666,
col9: 75.0000,
col10: 83.3333,
col11: 91.6666,
col12: 100,
);

$grid-paddnig-x: $padding-x;
$grid-padding-y: $padding-y;
$grid-margin-x: 0;
$grid-margin-y: 0;

/* Helpers */
/* Corners for rounding */
$radius-all: 5px;
$radius-top-left: $radius-all;
$radius-top-right: $radius-all;
$radius-bottom-right: $radius-all;
$radius-bottom-left: $radius-all;

/* Buttons */
$btn-color-bg: $color-primary;
$btn-color: #fff;
$btn-height: 40px;
$btn-padding: 10px;
$btn-radius: 5px;
$btn-font-size: 14px;
$btn-letterspacing: initial;
$btn-lineheight: $line-height;
$btn-fontweight: 600;

$btn-border: 2px;
$btn-small-scale: 0.8;

/* butons colection */
$btns: (
//name, color, background-color, hover color, hover background
("", #ffffff, $color-primary, #ffffff, darken($color-primary, 5%)),
("-dark", #ffffff, darken($color-primary, 10%), #ffffff, $color-primary),
("-light", #ffffff, lighten($color-primary, 10%), #ffffff, darken($color-primary, 5%)),
("-gray-dark", $color-gray-light, $color-gray-dark, $color-gray-light, darken($color-gray-dark, 5%)),
("-gray-light", $color-gray-dark, $color-gray-light, $color-gray-dark, darken($color-gray-light, 5%))
);

$btns-color: #fff;
$btns-bg-color: $color-primary;
$btns-pads: 3px 20px 5px 20px;
$btns-border: none;
$btns-radius: 4px;
$btns-hover-bg: darken($color-primary, 5%);
$btns-hover-color: #fff;

/* Border */
$borders: (
//('name', 'size', 'type', 'color')
('primary', 1px, solid, $color-primary),
('gray-dark', 1px, solid, $color-gray-dark),
('gray', 1px, solid, $color-gray),
('gray-light', 1px, solid, $color-gray-light),
('black', 1px, solid, #ffffff)
);

$border-radius: 5px !default;
$border-radius-large: 10px !default;
$border-radius-small: 3px !default;

$hr-color: $text-color;

/* Table */

$table-color: #393939;
$table-head-bg: $color-gray-light;
$table-color-border: mix($color-gray-dark, $color-gray-light);
$table-fontsize: $font-size;
$table-hover-color: $color-gray-light;
$table-padding: 10px;

$even-bg-color: #eee5de;
$odd-bg-color: #f6f2ef;

/* Forms */
$input-color: $text-color;
$input-color-active: #000;
$input-line-height: 20px;
$input-font-size: 12px;
$input-height: 30px;
$input-height-small: 20px;
$input-bg: #ffffff;
$input-bg-disabled: $color-gray-light;
$input-border-color: $input-color;
$input-border-color-active: $color-primary;
$input-box-shadow-active: none;
$input-border-radius: 0;
$input-padding: 8px 12px;

$legend-color: $color-gray-dark;

/* Progressbar */
$progress-width: 400px;
$progress-bg: #fff;
/* defines colors of segments from leftside */
$progress-segments-colors: #da4d00, #41768a, #d4c5a9;

/* Components */
$popupbg-bg-color: rgba(55, 55, 55, 0.8);
$popup-bg-color: #fff;
$popup-top: 30%;
$popup-width: 400px;
$popup-padding: 25px;

$multicomplete-tag-bg-color: $color-gray;

$tabs-btn-fontsize: $font-size;
$tabs-btn-margin: 10px 0 0 0;
$tabs-btn-padding: 10px 10px 5px 10px;
$tabs-btn-color: $text-color;
$tabs-btn-color-active: $color-primary;
$tabs-btn-border-bottom: 2px solid #fff;
$tabs-btn-border-bottom-active: 2px solid $color-primary;
$tabs-btn-fontweight: bold;
$tabs-tab-padding: 10px;
$tabs-tab-border: none;

/* Top navbar */
$navbar-top-height: 72px;
$navbar-top-small-height: 48px;
$navbar-top-border-bottom: 0;
$navbar-top-margin-bottom: 20px;

$navbar-top-zindex: 90;
$navbar-top-bg: rgba(255, 255, 255, 0.15);
$navbar-top-menu-padding-bottom: 28px;

$navbar-top-title-size: 24px;
$navbar-top-title-color: #ffffff;
$navbar-top-title-bg: transparent;
$navbar-top-title-padding-bottom: 24px;
$navbar-top-title-width: auto;

$navbar-top-link-color: $color-gray-light;
$navbar-top-link-size: 13px;
$navbar-top-link-font: $font-primary;
$navbar-top-link-fontweight: bold;
$navbar-top-link-padding: 28px 14px;
$navbar-top-link-hover-color: #fff;
$navbar-top-link-hover-bgcolor: transparent;
$navbar-top-link-active-borderbottom: 4px solid #fff;

$navbar-top-mobile-btn-color: #ffffff;
$navbar-top-mobile-bg: #ffffff;
$navbar-top-mobile-border: none;
$navbar-top-mobile-shadow: 2px 2px 20px -1px rgba(0,0,0,0.75);
$navbar-top-mobile-width: auto;
$navbar-top-mobile-top: $navbar-top-height;
$navbar-top-mobile-left: 40px;
$navbar-top-mobile-right: 40px;

$navbar-top-mobile-link-color: $color-gray-dark;
$navbar-top-mobile-borderbottom: 1px solid $color-gray-light;
$navbar-top-mobile-link-hover-bg: $color-gray-light;


/* Side navbar */
$navside-width: 280px;
$navside-top: 0;
$navside-padding: 0 0 20px 0;
$navside-color: $color-gray-dark;
$navside-bgcolor: #fff;
$navside-open-color: $color-primary;
$navside-open-bgcolor: $color-gray;
$navside-item-border: none;
$navside-item-borderbottom: none;
$navside-item-padding: 20px;
$navsidebg-bg: rgba(0, 0,0, 0.6);
$navsidebtn-bg: transparent;

/* Sticky footer */
$footer-color: #868d97;
$footer-color-bg: #374045;
$footer-link-color: #868d97;
$footer-link-hover-color: darken(#fff, 10%);
$footer-link-hover-decoration: none;
$footer-height: 80px;
$footer-fontsize: 32px;
$footer-padding: 24px 20px 16px 20px;
$footer-fontweight: bold;
$footer-border-color: transparent;
$footer-bordertop-size: 0;

/* mapcontrols */
$map-control-offset-topbottom: 20px;
$map-control-offset-leftright: 0;

$map-control-margin: -1px 0;
$map-control-size: 36px;
$map-control-boxshadow: 0px 0px 3px 0px rgba(132,135,136,0.3);
$map-control-color: #848788;
$map-control-bg: #fff;
$map-control-border: 1px solid #aab1b8;
$map-control-hover-color: $color-primary;
$map-control-hover-bg: #fff;
$map-control-hover-border: 1px solid #aab1b8;
$map-control-enabled-color: $color-primary;
$map-control-enabled-bg: #fff;
$map-control-enabled-border:  1px solid $color-primary;
$map-control-primary-color: #fff;
$map-control-primary-bg: $color-primary;
$map-control-primary-border:  1px solid $color-primary;
$map-control-primary-hover-color: #fff;
$map-control-primary-hover-bg: $color-primary;
$map-control-primary-hover-border:  1px solid $color-primary;
