---
layout: page
title: OpenMapTiles Vector Tile Schema
---

<style>
  h2.main:before{
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin: 6px 10px 6px 0;
    background: #898989;
  }
  h2:not(.main){
    font-size: 24px;
  }
  h3{
    text-transform: capitalize;
    font-size: 18px;
  }  
</style>
<div class="container">
  <div class="row">
    <div class="col2 padx-0">
      <div style="top: 320px; position: fixed;">
        <h3>Layers</h3>
        <ul>
          {% for page in site.pages %}
          {% if page.category == 'layer' %}
          <li><a href="#{{ page.title }}">{{ page.title }}</a></li>
          </article>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col10">
      <p>The vector tile schema describes how the vector data is organized into different thematic layers and which attribute and values each layer contains. This is useful for writing a map style and allows for alternative implementations of a schema.
      </p>
      <p>The OpenMapTiles schema is open (CC-BY) and you are free to use, extend or <a href="https://github.com/openmaptiles/openmaptiles">build upon the existing implementation</a> (BSD license). Please reference OpenMapTiles if you build upon the schema.
      </p>
      <p>The vector tile schema has been developed by <a href="https://www.klokantech.com/">Klokan Technologies GmbH</a> and was initially modelled after the cartography of the <a href="https://carto.com/location-data-services/basemaps/">Carto Basemap Positron</a>. The vector tile schema has been refined and improved in cooperation with the <a href="https://www.mediawiki.org/wiki/Maps">Wikimedia Foundation</a> and is heavily influenced by the many years Paul Norman's experience of creating maps from OpenStreetMap.
      </p>
      <h1 class="padb-0 padt-2 mary-0">Definition of layers:</h1>
      {% for page in site.pages %}
      {% if page.category == 'layer' %}
      <article class="page--article">
        <h2 id="{{ page.title }}" class="main">{{ page.title }}</h2>
        {{ page.content | markdownify }}
      </article>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>



