<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.titlehtml %}{{ page.titlehtml }}{% else %}{% if page.title %}{% if page.titlelocalized %}{{ page.titlelocalized }} / {% endif %}{{ page.title }} – {% endif %}{{ site.name }}{% endif %}</title>

    <meta name="author" content="Klokan Technologies GmbH" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Vector tiles from OpenStreetMap and OpenData to create world maps for web and mobile.{% endif %}" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}, {% else %}maps, basemaps, web, mobile, {% endif %}openmaptiles, vector tiles, openstreetmap" />
    <meta name="theme-color" content="#95BF73">
    <meta name="robots" content="index, follow">

    <meta property="og:image" content="http://openmaptiles.org/img/share-img.png"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="https://openmaptiles.org{{ page.url }}"/>
    <meta property="og:site_name" content="OpenMapTiles"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="http://openmaptiles.org/img/share-img.png"/>
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Vector tiles from OpenStreetMap and OpenData to create world maps for web and mobile.{% endif %}">
    <meta name="twitter:site" content="@openmaptiles">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">

    <script src="https://klokantech.github.io/javascript/kt.js?t={{ site.time | date: '%s' }}" async></script>
    <link href="/base.css?t={{ site.time | date: '%s' }}" rel="stylesheet" />
    <script type="text/javascript" src="/js/index.js?t={{ site.time | date: '%s' }}" async></script>
  </head>
  <body{% if page.url == "/" %} class="home"{% endif %}{% if page.url == "/inspect/" or page.url == "/viewers/" or page.url contains "/languages/" %} class="maps"{% endif %}>
    <div class="container">
      <div id="navbar-top" class="large">
        <div class="container">
          <a class="title" href="/">OpenMapTiles</a>
          <div class="nav">
            <a href="/about/">About</a>
            <a href="/docs/">Docs</a>
            <a href="https://openmaptiles.com/downloads/">Downloads</a>
            <a href="/styles/">Styles</a>
            <a href="/schema/">Schema</a>
            <a href="/mobile-app/">Mobile app</a>
            <a class="github" href="https://github.com/openmaptiles"
            onclick="gtag('event', 'github.com/openmaptiles', {'event_category': 'leave','event_label': 'navbar'});">e</a>
          </div>
          <div class="nav-mobile">
            <div id="nav-mobile-btn">H</div>
            <div id="nav-mobile-nav">
              <a href="/about/">About</a>
              <a href="/docs/">Docs</a>
              <a href="https://openmaptiles.com/downloads/">Downloads</a>
              <a href="/styles/">Styles</a>
              <a href="/schema/">Schema</a>
              <a href="/mobile-app/">Mobile app</a>
              <a href="https://github.com/openmaptiles"
              onclick="gtag('event', 'github.com/openmaptiles', {'event_category': 'leave','event_label': 'navbar'});">Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <div class="foot">
      <div class="row container">
        <div class="col4">
          <a target="_blank" href="https://www.maptiler.com" class="icon">
            <img src="/img/maptiler-logo.svg" alt="maptilerlogo">
          </a>
        </div>
        <div class="col8 text-right">

          <p class="small">OpenMapTiles.org is an open-source project from
            <a target="_blank" href="https://www.maptiler.com/">MapTiler team</a>
            and <a href="https://github.com/openmaptiles">OSM community</a><br>
            Share this page on&nbsp;
            <span class="social">
              <a href="https://plus.google.com/share?url=https://openmaptiles.org{{ page.url }}" onclick="popup(this.href, 400, 520);return false;" target="_blank">G</a>
              <a href="https://twitter.com/home?status=https://openmaptiles.org{{ page.url }}" onclick="popup(this.href, 450, 257);return false;" target="_blank">T</a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://openmaptiles.org{{ page.url }}" onclick="popup(this.href, 645, 353);return false;" target="_blank">F</a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8073932-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8073932-18');
    </script>
  </body>
</html>
