---
layout: default
---

<div class="row">
  <div class="col12 banner-page"></div>
</div>
<div class="row">
  <div class="col12 height-68 bg-gray-light">
    <div class="container padx-2 padt-05">
      <h1 class="pady-1 mar-0">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container">  

  <div class="row">
    <div class="col12 padb-0">
      {% for cat in site.data.categories %}
        {% if cat.id == page.category %}
          <p><a href="/docs/">Doc</a> > <a href="/docs/{{ cat.id }}">{{ cat.title }}</a></p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col9 padb-4">
      <article>
        {{ content }}
      </article>
    </div>
    <div class="col3 padb-4">

    {% for category in site.data.categories %}
    <div class="row doc-section">
      <h3 class="padb-1"><a href="/docs/{{ category.id }}/">{{ category.title }}</a></h3>
      {% for pg in site.pages %}
      {% if pg.category == category.id and pg.main != true %}
      <h4><a href="{{ pg.url }}">{{ pg.title }}</a></h4>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    </div>
  </div>
</div>

