---
layout: default
---

<link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css" />
<script src="https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
<script src="https://cdn.klokantech.com/openmaptiles-language/v1.0/openmaptiles-language.js"></script>
<!--
<div class="row">
  <div class="col12 banner-org center">
    <h1 class="white">{{ page.title }}</h1>
  </div>
</div>
-->

<div class="map active" id="map">
  <div id="nowebgl" style="top:15%;position:absolute;text-align:center;left:0;right:0;display:none;">
    Your browser does not seem to support WebGL which is required for this dynamic preview.
  </div>
</div>

<div id="banner-bg" class="banner-bg-bigger"></div>
<div id="banner">
  <div class="container">
    <h1 id="page-title">{% if page.titlelocalized %}{{ page.titlelocalized }}{% else %}{{ page.title }}{% endif %}</h1>
    <h2 class="mary-1">OpenMapTiles are multi-lingual so you can display the map in your own language!</h2>
    <p>Try a different language:
      <select id="lang" onchange="updateLang()" style="pointer-events:auto;">
        <!--<option value="">Style default</option>-->

        {% assign langs = site.pages | where: "layout","languages" | sort: "languagename" | sort: "order" %}
        {% for lang in langs %}{% if lang.languagename %}<option value="{{lang.code}}" data-nonlatin="{{ lang.nonlatin }}" data-bbox="{{ lang.bbox }}" data-title="{% if lang.titlelocalized %}{{ lang.titlelocalized }}{% else %}{{ lang.title }}{% endif %}" {% if lang.url == page.url %}selected{% endif %}>{{ lang.languagename }}</option>{% endif %}
        {% endfor %}
      </select>
      <span style="pointer-events:auto; display: none;" id="also-alternative-wrap"> <input class="fancy" type="checkbox" checked="checked" id="also-alternative" onchange="updateLang()" /><label for="also-alternative" class="marx-2"><span></span>Alternative names</label></span>
    </p>
  </div>
</div>

<div class="shorts">
  <a href="https://openmaptiles.com/server/">
    <span class="icon">o</span>
    Install <br>
    map server</a>
  <a href="https://www.tilehosting.com">
    <span class="icon">h</span>
    Try <br>
    our hosting</a>
  <a href="https://openmaptiles.com/downloads/">
    <span class="icon">d</span>
    Download <br>
    map tiles</a>
</div>

<script src="/js/languages.js"></script>
<ul class="hidden">
  {% assign langs = site.pages | where: "layout","languages" | sort: "languagename" | sort: "order" %}
  {% for lang in langs %}<li><a href="{{lang.url}}">{% if lang.titlelocalized %}{{ lang.titlelocalized }} / {% endif %}{{ lang.title }}</a></li>
  {% endfor %}
</ul>
